* {
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.james-bond {
    font-weight: 650;
    color: red;
    font-style: italic;
}

h1 {
    text-align: center;
}
